@media screen and (min-width: 768px) and (max-width: 1440px) {

    .text {
        margin-top: calc(100/1440*100vw);
        margin-bottom: calc(100/1440*100vw);
        font-size: calc(30/1440*100vw);
    }

    .header-img__logo {
        height: calc(100/1440*100vw);   
    }

    .header-td {
        width: calc(320/1440*100vw);
        height: calc(70/1440*100vw);
    }

    .heading {
        margin-top: calc(50/1440*100vw);
        margin-bottom: calc(50/1440*100vw);
        text-align: center;
        color: #133591;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: space-around;
    }

    .heading__h1 {
        font-size: x-large;
    }

    .heading__h3 {
        font-size: x-large;
    }

    .heading__table {
        margin-top: calc(60/1440*100vw);
        margin-bottom: calc(60/1440*100vw);
        font-size: calc(50/1440*100vw);
        font-weight: bold;
    }

    .search__input {
        margin-left: calc(20/1440*100vw);
        margin-right: calc(20/1440*100vw);
        width: calc(700/1440*100vw);
        height: calc(60/1440*100vw);
        border-radius: calc(5/1440*100vw);
    }

    .search__input::placeholder {
        padding-left: calc(10/1440*100vw);
    }

    .container__card {
        row-gap: calc(10/1440*100vw);
        column-gap: calc(10/1440*100vw);
        width: 80vw;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .container-card__car {
        width: calc(350/1440*100vw);
        height: calc(250/1440*100vw);
    }
}