@media screen and (min-width: 320px) and (max-width: 767px) {

    .text {
        margin-top: calc(100/767*100vw);
        margin-bottom: calc(100/767*100vw);
        font-size: calc(30/767*100vw);
    }

    .header-img__logo {
        height: calc(100/767*100vw);   
    }

    .header-td {
        width: calc(180/767*100vw);
        height: calc(60/767*100vw);
        font-size: calc(20/767*100vw);
    }

    .heading {
        margin-top: calc(70/767*100vw);
        text-align: center;
        color: #133591;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: space-around;
        font-size: small;
    }

    .heading__box {
        width: 90%;
    }



    .heading__h2 {
        margin-top: calc(70/767*100vw);
    }

    .heading__h3 {
        font-size: calc(35/767*100vw);
    }

    .heading__table {
        margin-top: calc(30/767*100vw);
        margin-bottom: calc(30/767*100vw);
        font-size: calc(30/767*100vw);
        font-weight: bold;
    }

    .search {
        margin-top: calc(20/767*100vw);
    }

    .search__label {
        font-size: small;
    }

    .search__input {
        margin-left: calc(5/767*100vw);
        margin-right: calc(5/767*100vw);
        width: calc(450/767*100vw);
        height: calc(50/767*100vw);
        border-radius: calc(5/767*100vw);
    }

    .search__input::placeholder {
        padding-left: calc(10/767*100vw);
    }

    .search__button {
        width: calc(150/767*100vw);
        height: calc(50/767*100vw);
        border-radius: calc(5/767*100vw);
    }

    .container__card {
        width: calc(780/767*100vw);
        row-gap: calc(10/767*100vw);
        column-gap: calc(10/767*100vw);
    }

    .container-card__car {
        width: calc(350/767*100vw);
        height: calc(150/767*100vw);
    }

    .img {
        margin-top: 5px;
    }

    footer {
        margin-top: calc(30/767*100vw);
    }
    
}