@media screen and (min-width: 320px) and (max-width: 768px) {

    .header-img__logo {
        height: calc(100/768*100vw);   
    }

    .header-td {
        width: calc(180/768*100vw);
        height: calc(60/768*100vw);
        font-size: calc(20/768*100vw);
    }

    .heading {
        margin-top: calc(70/768*100vw);
        text-align: center;
        color: #133591;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: space-around;
        font-size: small;
    }

    .heading__box {
        width: 90%;
    }



    .heading__h2 {
        margin-top: calc(70/768*100vw);
    }

    .heading__h3 {
        font-size: calc(35/768*100vw);
    }

    .search {
        margin-top: calc(20/768*100vw);
    }

    .search__label {
        font-size: small;
    }

    .search__input {
        margin-left: calc(5/768*100vw);
        margin-right: calc(5/768*100vw);
        width: calc(450/768*100vw);
        height: calc(50/768*100vw);
        border-radius: calc(5/768*100vw);
    }

    .search__input::placeholder {
        padding-left: calc(10/768*100vw);
    }

    .search__button {
        width: calc(150/768*100vw);
        height: calc(50/768*100vw);
        border-radius: calc(5/768*100vw);
    }

    .container__card {
        width: calc(780/768*100vw);
        row-gap: calc(10/768*100vw);
        column-gap: calc(10/768*100vw);
    }

    .container-card__car {
        width: calc(350/768*100vw);
        height: calc(150/768*100vw);
    }

    .img {
        margin-top: 5px;
    }

    footer {
        margin-top: calc(30/768*100vw);
    }
    
}